<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_literatura})}|">Show Literatura - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${literatura}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="literatura-isbn-field" data-z="a577e218">
            	      <strong data-th-text="#{label_literatura_isbn}">isbn</strong>
                    <span data-th-text="*{{isbn}}">isbnValue</span>
         	        </li>
                  <li id="literatura-autor-field" data-z="592c06a6">
            	      <strong data-th-text="#{label_literatura_autor}">autor</strong>
                    <span data-th-text="*{{autor}}">autorValue</span>
         	        </li>
                  <li id="literatura-tytul-field" data-z="6dbcfa46">
            	      <strong data-th-text="#{label_literatura_tytul}">tytul</strong>
                    <span data-th-text="*{{tytul}}">tytulValue</span>
         	        </li>
                  <li id="literatura-wydawnictwo-field" data-z="7c064e46">
            	      <strong data-th-text="#{label_literatura_wydawnictwo}">wydawnictwo</strong>
                    <span data-th-text="*{{wydawnictwo}}">wydawnictwoValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
