<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="jednostkilekcyjne-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('TypZajecsItemJednostkiLekcyjneThymeleafController')}">
    <table id="jednostkilekcyjne-detail-table-items-to-remove-batch" data-parent-table="typzajec-entity-table" data-data-parent-id="${typZajec != null ? typZajec.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('typZajec', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="idSali" data-th-text="#{label_typzajec_jednostkilekcyjne_idsali}">idSali</th>
              <th data-data="idProwadzacy" data-th-text="#{label_typzajec_jednostkilekcyjne_idprowadzacy}">idProwadzacy</th>
              <th data-data="godzinaOd" data-th-text="#{label_typzajec_jednostkilekcyjne_godzinaod}">godzinaOd</th>
              <th data-data="godzinaDo" data-th-text="#{label_typzajec_jednostkilekcyjne_godzinado}">godzinaDo</th>
              <th data-data="idPrzedmiotu" data-th-text="#{label_typzajec_jednostkilekcyjne_idprzedmiotu}">idPrzedmiotu</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>idSali</td>
              <td>idProwadzacy</td>
              <td>godzinaOd</td>
              <td>godzinaDo</td>
              <td>idPrzedmiotu</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->