<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="dzien-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('DziensCollectionThymeleafController')},itemLink=${@linkBuilder.of('DziensItemThymeleafController')}">
    <table id="dzien-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="nazwa" data-th-text="#{label_dzien_nazwa}">nazwa</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>nazwa</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->