<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_grupa})}|">Show Grupa - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${grupa}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="grupa-nazwagrupy-field" data-z="54384590">
            	      <strong data-th-text="#{label_grupa_nazwagrupy}">nazwaGrupy</strong>
                    <span data-th-text="*{{nazwaGrupy}}">nazwaGrupyValue</span>
         	        </li>
                  <li id="grupa-nazwapodgrupy-field" data-z="9e3796e">
            	      <strong data-th-text="#{label_grupa_nazwapodgrupy}">nazwaPodgrupy</strong>
                    <span data-th-text="*{{nazwaPodgrupy}}">nazwaPodgrupyValue</span>
         	        </li>
                  <li id="grupa-kierunek-field" data-z="c6f8d8f0">
            	      <strong data-th-text="#{label_grupa_kierunek}">kierunek</strong>
                    <span data-th-text="*{{kierunek}}">kierunekValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
